<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--<property name="USER_HOME" value="/Users/juneyoungoh" />-->
    <!--<property name="LOG_PATH" value="${USER_HOME}/Documents/logTest/icelogs" />-->
    <!--<property name="ERR_PATH" value="/Users/juneyoungoh/Documents/logTest/errlogs" />-->
    <property name="LOG_PATH" value="/data/ion/logs/icelogs" />
    <property name="ERR_PATH" value="/data/ion/logs/errlogs" />

    <!-- 콘솔 로그 출력 -->
    <appender level="INFO" name="localConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %-4relative - [%thread] %logger{35} : %msg %n</Pattern>
        </encoder>
    </appender>

    <appender name="catalinaAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/ice.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/ice_%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!--<maxFileSize>50KB</maxFileSize>-->
                <maxFileSize>500MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>

            <!--
                개별 파일의 최대 사이즈는 500MB 이며
                3일치의 데이터를 보관한다
                폴더의 최대 사이즈는 2GB 이다
            -->
            <maxFileSize>500MB</maxFileSize>
            <!--<maxFileSize>50KB</maxFileSize>-->
            <maxHistory>10</maxHistory>
            <totalSizeCap>2GB</totalSizeCap>
        </rollingPolicy>


        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <!-- FOR LOCAL -->
            <level>INFO</level>

            <!-- FOR PROD -->
            <!--<level>ERROR</level>-->
        </filter>

        <encoder>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %-4relative - [%thread] %logger{35} : %msg %n</Pattern>
        </encoder>
    </appender>

    <!-- INFO 레벨 이하 로그를 콘솔 및 파일로 출력 -->
    <!-- FOR LOCAL -->
    <root level="INFO">

    <!-- FOR LOCAL -->
    <!--<root level="ERROR">-->
        <appender-ref ref="localConsoleAppender"/>
        <appender-ref ref="catalinaAppender"/>
    </root>
</configuration>