<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_PATH" value="/resource/log/application2"/>

    <!--<property name="LOG_PATH" value="/Users/juneyoungoh/Desktop/docker_elk/logstash/logs2"/>-->


    <!-- 콘솔 로그 출력 -->
    <appender name="TEXT_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %-4relative - [%thread] %logger{35} : %msg %n</Pattern>
        </encoder>
    </appender>

    <appender name="TEXT_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_PATH}/out.log</File>
        <!--<prudent>true</prudent>-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/out_%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>

        <encoder>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %-4relative - [%thread] %logger{35} : %msg %n</Pattern>
        </encoder>
    </appender>

    <!-- Logstash JSON 형식으로 파일 로그 생성 -->
    <!-- /var/log/applicaion/log.json 파일에 최신 로그 생성 -->
    <!-- /var/log/applicaion/log_2016-07-15.0.json 파일에 과거 로그 보관 -->
    <!-- 5MB 초과, 날짜 변경 시점마다 생성, 생성된지 3일 이상된 파일은 삭제 -->
    <appender name="JSON_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_PATH}/log.json</File>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <jsonGeneratorDecorator class="net.ion.ice.core.logging.PrettyPrintingDecorator"/>
            <jsonFactoryDecorator class="net.ion.ice.core.logging.ISO8601DateDecorator"/>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/log_%d{yyyy-MM-dd}.%i.json</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>5MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <!--
        Logstash TCP Appender added 14JUN17
        ref : https://github.com/logstash/logstash-logback-encoder
    -->
    <appender name="STASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>125.131.88.156:5044</destination>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
        <reconnectionDelay>1 second</reconnectionDelay>
    </appender>

    <!-- INFO 레벨 이하 로그를 콘솔 및 파일로 출력 -->
    <root level="INFO">
        <appender-ref ref="TEXT_CONSOLE"/>
        <appender-ref ref="TEXT_FILE"/>
        <appender-ref ref="JSON_FILE"/>
        <appender-ref ref="STASH" />
    </root>

</configuration>