/*.slide{display:none;}*/
.slide.slick-initialized{display:block;}
.slide button.slick-arrow{z-index:10;}
.slide button.slick-prev.slick-arrow{left:0;}
.slide button.slick-next.slick-arrow{right:0;}
.slide .slick-dots{bottom:10px;}
.slide .slick-dots li{margin:0;}
.module.simple_slider .slide_nav a{position:absolute;bottom:10px;left:10px;width:50px;height:50px;line-height:50px;background:#fff;border:1px solid #000;text-align:center;}
.slick-dotted.slick-slider{margin-bottom:0;}

.module.video_banner{height:300px;overflow:hidden;}
.module.video_banner .in_container{}
.module.video_banner .video_wrapper{position:relative;z-index:1;padding-bottom:56.25%;padding-top:25px;height:0;}
.module.video_banner .video_contents{position:absolute;top:0;left:0;width:100%;height:100%;z-index:10;}
.module.video_banner .video_contents_box{position:absolute;top:20px;left:20px;width:500px;height:260px;z-index:20;background:rgba(255,255,255,0.7);color:#000;}
.module.video_banner iframe,
.module.video_banner embed{position: absolute;top: -20%;left: 0;width: 100%;height: 100%;}


.module{position:relative;padding:20px 0;}
.module:after{content:"";display:block;height:0;clear:both;visibility:hidden;zoom:1;}
.module.h_slide{}
.slick-prev:before,
.slick-next:before{display:none;}
.module.h_slide button.slick-prev,
.module.h_slide button.slick-next{position:absolute;top:50%;width:26px;height:55px;margin-top:0;z-index:10}
.module.h_slide button.slick-prev{left:-31px;background:url("../image/module/btn_slick_prev.png") 0 0 no-repeat;}
.module.h_slide button.slick-next{right:-30px;background:url("../image/module/btn_slick_next.png") 0 0 no-repeat;}
.module.h_slide .slider_wrap{position:relative;padding:30px 28px 27px 30px;overflow:hidden;}
.module.h_slide .slider_wrap .slider{}
.module.h_slide .slider_wrap div.item{margin-left:31px !important;}
.module.h_slide .header_box.tab_center{text-align:center;}
.module.h_slide .header_box.tab_center .tab_wrap{float:none;}
.module.h_slide .header_box.tab_center .tab_wrap ul{float:right;position:relative;left:-50%;}
.module.h_slide .header_box.tab_center .tab_wrap ul li{float:left;position:relative;left:50%;}

.module.v_slide{}
.module.v_slide .tittitle{}
.module.v_slide .tab_wrap{}
.module.v_slide .tab_wrap.cnt_3{}
.module.v_slide .tab_wrap.cnt_4{}
.module.v_slide .goods_list{}

.module.label_tab{}
.module.label_tab .tab_wrap{}
.module.label_tab .tab_wrap.cnt3{}
.module.label_tab .tab_wrap.cnt4{}
.module.label_tab .tab_wrap.cnt5{}

.module.simple_slider{}
.module.simple_slider .slick{}

.module .module_box{border:1px solid #e5e5e5;}
.module.marketing_banner .module_box{border:none;}
.module.marketing_banner .module_box a{display:block;}
.module .header_box{border-bottom:1px solid #e5e5e5;}
.module .header_box:after{content:"";display:block;height:0;clear:both;visibility:hidden;zoom:1;}
.module .header_box .tit{float:left;font-size:20px;font-weight:600;color:#222;letter-spacing:0;padding:14px 0 12px 30px;}
.module .header_box .tit span{display:inline-block;font-size:12px;font-weight:normal;font-family:'Noto Sans KR', sans-serif;color:#777;position:relative;top:-2px;margin-left:16px;}
.module .module_body{position:relative;}
.module .header_box .tab_wrap{float:right;padding-right:18px;}
.module .header_box .tab_wrap ul{}
.module .header_box .tab_wrap ul li{float:left;}
.module .header_box .tab_wrap ul li a{position:relative;display:block;padding:0 12px;font-size:13px;color:#666666;letter-spacing:-1px;}
.module .header_box .tab_wrap ul li a span{display:inline-block;padding:16px 0 15px;border-bottom:4px solid #fff;}
.module .header_box .tab_wrap ul li.on a{font-weight:600;}
.module .header_box .tab_wrap ul li.on a span{border-bottom-color:#222;}
.module .header_box .tab_wrap ul li:first-child a span:after{display:none;}

.module .header_box .tab_wrap.center{float:none;padding-right:0;margin:0 auto;text-align:center;}
.module .header_box .tab_wrap.center ul li{float:none;display:inline-block;}

.module_split{}
.module_split:after{content:"";display:block;height:0;clear:both;visibility:hidden;zoom:1;}
.module_split .module{float:right;margin-left:10px;width:590px;}
.module_split .module:first-child{float:left;margin-left:0;margin-right:10px;}
.module_split .module .in_container{width:100%;max-width:100%;min-width:100%;}
.module_split .module .module_body{min-height:530px;}


/* label_tab_wrap */
.label_tab_wrap{clear:both;display:table;width:100%;height:530px;table-layout:fixed;}
.label_tab_wrap:after{content:"";display:block;height:0;clear:both;visibility:hidden;zoom:1;}
.label_tab_wrap .tab_nav{display:table-cell;width:188px;vertical-align:top;background:#fff;}
.label_tab_wrap .tab_nav ul{}
.label_tab_wrap .tab_nav ul li{}
.label_tab_wrap .tab_nav ul li a{position:relative;display:table;width:100%;height:100%;table-layout:fixed;border-top:1px solid #e5e5e5;border-right:1px solid #e5e5e5;color:#999999;font-size:14px;background:#f4f4f4;}
.label_tab_wrap .tab_nav ul li a span{display:table-cell;vertical-align:middle;height:100%;padding-left:30px;}
.label_tab_wrap .tab_nav ul li:first-child a{border-top:none;}
.label_tab_wrap .tab_nav ul li.on a{background:#fff;border-right:none;}
.label_tab_wrap .tab_nav ul li.on a span{font-size:16px;font-weight:600;color:#222;}
/*.label_tab_wrap .tab_nav ul li.on a span:after{content:'';position:absolute;top:0;right:-20px;z-index:10;width: 0;height: 0;border-style: solid;border-width: 19.5px 0 19.5px 20px;border-color: transparent transparent transparent #d5f3f8;}*/
.label_tab_wrap .tab_content_wrap{display:table-cell;width:400px;vertical-align:top;background:#fff;padding:30px 30px 0;}
.label_tab_wrap .tab_content_wrap .goods_item.v_type.big{width:100%;}
.label_tab_wrap .tab_content_wrap .goods_item.v_type.big .desc,
.label_tab_wrap .tab_content_wrap .goods_item.v_type.big .icon{display:none;}
.label_tab_wrap .tab_content_wrap .goods_item.v_type.big .nm{font-size:16px;height:50px;margin-top:11px;}
.label_tab_wrap .tab_content_wrap .goods_item.v_type .price{padding-top:3px;}
.label_tab_wrap .tab_content_wrap .goods_item.v_type .price .nor_price span,
.label_tab_wrap .tab_content_wrap .goods_item.v_type .price .low_price span,
.label_tab_wrap .tab_content_wrap .goods_item.v_type .price .sale_price span{font-size:14px;}
.label_tab_wrap .tab_content_wrap .goods_item.v_type .price .sale_price span.price_tit{width:70px;}
.label_tab_wrap .tab_content_wrap .goods_item.v_type .price .sale_price span + span{font-size:24px;font-weight:600;}
.label_tab_wrap .tab_content_wrap .goods_item.v_type .price .sale_price span + span + span{font-size:14px;font-weight:normal;position:relative;top:-1px;}
.label_tab_wrap .tab_content_wrap .goods_item.v_type .dc_per{position:absolute;top:0;left:0;z-index:100;width:78px;height:86px;text-align:center;line-height:86px;background:url("../image/common/bg_label_tab_dc.png") 0 0 no-repeat;color:#fff;}
.label_tab_wrap .tab_content_wrap .goods_item.v_type .dc_per span{font-size:40px;font-family:'Montserrat', 'Noto Sans KR', sans-serif;font-weight:600;}
.label_tab_wrap .tab_content_wrap .goods_item.v_type .dc_per span + span{font-size:18px;}
.label_tab_wrap .tab_content_wrap .goods_item.v_type .thumb{border:1px solid #e5e5e5}
.label_tab_wrap .tab_content_wrap .goods_item.v_type .thumb img{border:none;width:338px;height:338px;}
.label_tab_wrap .tab_content_wrap .goods_item.v_type .thumb:hover .goods_util{display:none;}


/* vertical scroll type */
.vtc_tab_wrap{clear:both;display:table;}
.vtc_tab_wrap .module_body{min-height:529px;max-height:529px;}
.vtc_tab_wrap .tab_nav,
.vtc_tab_wrap .tab_content_wrap{display:table-cell;vertical-align:top;width:500px;background:#fff;}
.vtc_tab_wrap .tab_nav{height:529px;width:90px;overflow:hidden;}
.vtc_tab_wrap .tab_nav div.item{height:94px;}
.vtc_tab_wrap .tab_nav div.item.on{border-right:none;}
.vtc_tab_wrap .tab_content_wrap{width:866px;background:#fff;height:498px;}
.vtc_tab_wrap .tab_content_wrap ul.goods_list{padding-top:8px;padding-bottom:10px;}
.vtc_tab_wrap .tab_content_wrap ul.goods_list:after{content:"";display:block;height:0;clear:both;visibility:hidden;zoom:1;}
.vtc_tab_wrap .tab_content_wrap ul.goods_list.cnt_6 li{float:left;width:33.333%;padding-top:22px;}
.vtc_tab_wrap .tab_content_wrap ul.goods_list.cnt_6 li .goods_item{margin:0 auto;}
.vtc_tab_wrap .tab_nav .slide_nav{position:relative;height:530px;padding-top:0;}
.vtc_tab_wrap .tab_nav .slide_nav div.item{width:91px !important;border-top:1px solid #e5e5e5;border-right:1px solid #e5e5e5;}
.vtc_tab_wrap .tab_nav .slide_nav div.item a{position:relative;display:block;height:93px;background:#f4f4f4;}
.vtc_tab_wrap .tab_nav .slide_nav div.item.on{border-right:none;}
.vtc_tab_wrap .tab_nav .slide_nav div.item.on a{background:#fff;}
.vtc_tab_wrap .tab_nav .slide_nav .slick-prev,
.vtc_tab_wrap .tab_nav .slide_nav .slick-next{position:absolute;left:0;top:auto;bottom:auto;right:auto;z-index:11;width:90px;height:30px;background-image:url("../image/common/bg_vtc_tab_wrap_nav.gif");background-repeat:no-repeat;}
.vtc_tab_wrap .tab_nav .slide_nav .slick-prev{height:30px;top:15px;background-position:0 0;border-bottom:1px solid #e5e5e5}
.vtc_tab_wrap .tab_nav .slide_nav .slick-prev.slick-disabled{background-position:-90px 0;}
.vtc_tab_wrap .tab_nav .slide_nav .slick-next{height:32px;bottom:-16px;background-position:-90px -30px;}
.vtc_tab_wrap .tab_nav .slide_nav .slick-next.slick-disabled{background-position:0 -30px;}
.vtc_tab_wrap .tab_nav .slick-list{position:relative;z-index:10;background:#fff;padding:29px 0 30px 0;margin-left:-1px;width:93px;}